body{
    margin: 0px;
    padding: 0px;

    background-color: #72636E;

    font-family: Arial, Helvetica, sans-serif;
    color: #FCFAF2;
}

h1 {
    text-align: center;
}

h3 {
    font-size: 20px;
}

hr {
    background-color: #828281;
    border-bottom: #828282;
    padding: 0.5px 5px;
    
}

a {
    color: #FCFAF2;
}

pre {
    font-size: 18px;
    font-style: italic;
    padding-left: 20px;
}

#header {
    width: 100%;
    height: 60px;

    background-color: #60373E;

    white-space: nowrap;
}

#header a {
    text-decoration: none;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    font-style: italic;
    color: #FCFAF2;
}

#body {
    margin: 0px;
    padding: 5px 20px;

    position: absolute;
    top: 60px;
    left: 60px;
    right: 60px;
    bottom: inherit;
    background-color: #828282;
}

#footer {
    width: 100%;
    margin: 0px;
    padding: 30px 10px;

    position: absolute;
    bottom: 0px;

    background-color: #08192D;

    text-align: center;
    
    white-space: nowrap;
}

.selectbox {
	overflow: hidden;
	width: 90%;
	margin: 0.5px auto 1px;
	text-align: center;
}
.selectbox select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.selectbox select::-ms-expand {
    display: none;
}
.selectbox.sb {
	position: relative;
    border-radius: 2px;
    border: 2px;
    border-radius: 50px;
	background: #72636E;
}
.selectbox.sb::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #FCFAF2;
	pointer-events: none;
}
.selectbox.sb select {
	padding: 8px 38px 8px 8px;
	color: #FCFAF2;
}

.btn-right-radius {
    position: absolute;
    right: 40px;
    display: inline-block;
    margin-top: 10px;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FCFAF2;
    background: #72636E;
    border-radius: 0 15px 15px 0;
    border-color: #72636E;
    transition: .4s;
}
  
.btn-right-radius:hover {
    background: #828282;
}

.itaght {
    font-style: italic;
    float: right;
}

.octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
    height: 1.5em;

    position: absolute;
    right: 40px;
}