body {
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;

    background-color: #806f7b;

    font-family: Arial, Helvetica, sans-serif;
    color: #FCFAF2;

    z-index: 0;
}

h1 {
    text-align: center;
}

h3 {
    font-size: 20px;
}

hr {
    background-color: #72636E;
    border-bottom: #72636E;
    padding: 0.5px 5px;
    
}

a {
    text-decoration: none;
    color: #FCFAF2;
}

pre {
    font-size: 18px;
    font-style: italic;
    padding-left: 20px;
}

#header {
    width: 100%;
    height: 60px;

    position: relative;
    top: 0px;

    background-color: #60373E;

    white-space: nowrap;

    z-index: 2;
}

#header a {
    text-decoration: none;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    font-style: italic;
    color: #FCFAF2;
}

#main-left {
    width: 10%;
    height: 100%;

    position: fixed;
    top: 0px;
    left: 0px;

    background-color: #72636E;

    z-index: 1;
}

#main {
    width: 60%;
    margin: 0px;
    padding: 5px 20px;

    position: absolute;
    top: 60px;
    left: 12%;
    bottom: inherit;
}

#main-right {
    width: 18%;
    height: 100%;
    margin: 0px;
    padding: 70px 30px 40px 30px;

    position: fixed;
    top: 0px;
    right: 0px;
    
    background-color: #72636E;

    z-index: 1;
}

#footer {
    width: 18%;
    height: 15%;
    margin: 0px;
    padding: 0px 0px 10px 0px;

    position: fixed;
    bottom: 0px;

    white-space: nowrap;


    border-top: solid 1px rgb(73, 65, 69);
}
#footer div {
    padding: 0px;
    margin-bottom: 30px;

    text-align: center;

    position: absolute;
    right: 10px;
    left: 10px;
    bottom: 0px;
}

.selectbox {
	overflow: hidden;
	width: 90%;
	margin: 0.5px auto 1px;
	text-align: center;
}
.selectbox select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.selectbox select::-ms-expand {
    display: none;
}
.selectbox.sb {
	position: relative;
    border-radius: 2px;
    border: 2px;
    border-radius: 50px;
	background: #72636E;
}
.selectbox.sb::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #FCFAF2;
	pointer-events: none;
}
.selectbox.sb select {
	padding: 8px 38px 8px 8px;
	color: #FCFAF2;
}

.btn-right-radius {
    position: absolute;
    right: 40px;
    display: inline-block;
    margin-top: 10px;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #FCFAF2;
    background: #72636E;
    border-radius: 0 15px 15px 0;
    border-color: #72636E;
    transition: .4s;
}
  
.btn-right-radius:hover {
    background: #828282;
}

.jump {
    text-decoration: none;
    padding: 0px 30px 0px 10px;
    margin: 5px 0px;
}

.jump:hover {
    background-color: rgb(73, 65, 69);
    cursor: pointer;
}

.itaght {
    font-style: italic;
    float: right;
}

.octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
    height: 1.5em;

    margin-bottom: 70px;

    position: absolute;
    right: 50%;
    bottom: 0px;
}